body{
  background: #C0C0C0;
}

.pagina{
  background: #D3D3D3;
}
.titulo-principal{
  text-align: center;
  font-size: 60px;
  color: 	#000000;
}
.titulo-secundario{
  font-size: 35px;
  color: #EE82EE;
}
#texto{
  font-size: 25px;
  font-style: italic;
}
#texto2{
  color: purple;
  font-size: 25px;
}
.titulo3{
  font-size: 30px;
  font-style: italic;
  color: red;
  padding: 20px;
}
.itens{
  font-style: italic;
  font-size: 25px;
}
.beneficios{
  background: #DCDCDC;
}
ul{
  display: inline-block;
  width: 25%;
  margin-right: 15%;
  vertical-align: top;
}
.beneficios2{
  width: 50%
}
